/* CSS for login form and admin content */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#loginForm,
#adminContent {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"],
select,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3CC78F; /* Updated button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2EA572; /* Darker color on hover */
}

#loginForm {
    text-align: center;
}

#adminContent {
    display: none; /* Hide admin content by default */
}

/* CSS for login form and admin content */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Other styles */

.login-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

#loginForm,
#adminContent {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Other styles */

.settings-button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #3CC78F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Other styles */

/* Additional styling for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
