button {
    width: 18%;
    padding: 10px;
    margin-top: 25px;
    background-color: #3CC78F; /* Updated button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2EA572; /* Darker color on hover */
}

/* Styling for donor registration button */
#registerDonorBtn {
    background-color: #3CC78F; /* Updated button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#registerDonorBtn:hover {
    background-color: #2EA572; /* Darker color on hover */
}
